:root {
  --primary-color: #cfd6db;
  --secondary-color: #aaaaaa;

  --main-accent-color: #449fd8;
  --secondary-accent-color: hsl(203, 65%, 20%);

  --main-background: #1b1b1b;
  --item-background: #262626;
  --item-shadow-background: #0e0e0e;
}
